<ion-content scroll="false">

  <ion-icon *ngIf="navCtrl.canGoBack()" round icon-start (click)="back()" name='arrow-dropleft-circle'class="steps left"></ion-icon>
  <ion-icon *ngIf="needValidation" round icon-start (click)="continue()" name='arrow-dropright-circle' class="steps right"></ion-icon>
  <h3 text-center>{{ 'AUX_TEXT_HAUT_STEP3' | translate }}</h3>

  <div style="width:70%;right:15%;position:absolute">
    <style>
      .small{font-size:x-large}
      .medium{font-size:xx-large}
      .large{font-size:4em}
    </style>

    <div text-center>
      <button (click)="setsize('small')" color="{{ mycolor.small}}" ion-button class="button-small">{{ 'AUX_STEP3_BUTTON_SMALL' | translate }}</button>
      <button (click)="setsize('medium')" color="{{ mycolor.medium}}" ion-button class="button-medium">{{ 'AUX_STEP3_BUTTON_MEDIUM' | translate }}</button>
      <button (click)="setsize('large')" color="{{ mycolor.large}}" ion-button class="button-large">{{ 'AUX_STEP3_BUTTON_LARGE' | translate }}</button>
    </div>

<ion-card>
  <ion-card-content>
      <p text-left class="{{ mysizeclass }}">{{ 'AUX_STEP3_MAIN_TEXT' | translate }}</p>
  </ion-card-content>
</ion-card>
  </div>



</ion-content>
