page-step3 {
  h3 {
    margin-top: 5%;
    font-size: 3.5rem;
  }
  .button-small {
    font-size: 2.5rem;
  }
  .button-medium {
    font-size: 3.5rem;
  }
  .button-large {
    font-size: 4.5rem;
  }
}
