<ion-content scroll="false">

  <ion-icon *ngIf="navCtrl.canGoBack()" round icon-start (click)="back()" name='arrow-dropleft-circle'class="steps left"></ion-icon>
  <ion-icon *ngIf="needValidation" round icon-start (click)="continue()" name='arrow-dropright-circle' class="steps right"></ion-icon>
  <h3 text-center>{{ 'AUX_TEXT_HAUT_STEP3' | translate }}</h3>

  <div style="width:70%;right:15%;position:absolute;background-color:grey">
    <style>
      .small{font-size:medium}
      .medium{font-size:large}
      .large{font-size:x-large}
    </style>

    <div text-center>
      <button (click)="setsize('small')" small ion-button>{{ 'AUX_STEP3_BUTTON_SMALL' | translate }}</button>
      <button (click)="setsize('medium')" ion-button>{{ 'AUX_STEP3_BUTTON_MEDIUM' | translate }}</button>
      <button (click)="setsize('large')" large ion-button>{{ 'AUX_STEP3_BUTTON_LARGE' | translate }}</button>
    </div>

    <p text-center class="{{ mysizeclass }}">{{ 'AUX_STEP3_MAIN_TEXT' }}</p>
  </div>
  


</ion-content>
