<ion-content scroll="false">

  <ion-icon *ngIf="navCtrl.canGoBack()" round icon-start (click)="back()" name='arrow-dropleft-circle'class="steps left"></ion-icon>
  <ion-icon *ngIf="needValidation" round icon-start (click)="continue()" name='arrow-dropright-circle' class="steps right"></ion-icon>
  <h3 text-center>{{ 'AUX_TEXT_HAUT_STEP4' | translate }}</h3>


  <ion-grid>
    <ion-row></ion-row>
    <ion-row justify-content-center>
      <ion-col align-self-start>
          <button (click)="setvocalize(true)" [color]="vocalize ? 'secondary' : 'default'"  full large ion-button class="button-xlarge">{{ 'AUX_STEP4_YES' | translate }}</button>
      </ion-col>
      <ion-col align-self-start>
        <button (click)="setvocalize(false)" [color]="vocalize ? 'default' : 'secondary'" full large ion-button class="button-xlarge">{{ 'AUX_STEP4_NO' | translate }}</button>
      </ion-col>
    </ion-row>
    <ion-row></ion-row>
  </ion-grid>



</ion-content>
