<ion-content scroll="false">

  <ion-icon *ngIf="navCtrl.canGoBack()" round icon-start (click)="back()" name='arrow-dropleft-circle'class="steps left"></ion-icon>
  <ion-icon *ngIf="needValidation" round icon-start (click)="continue()" name='arrow-dropright-circle' class="steps right"></ion-icon>
  <h3 text-center>{{ 'AUX_TEXT_HAUT_STEP4' | translate }}</h3>


  <ion-grid>
    <ion-row>
      <ion-col align-self-start>
        <ion-toggle checked="true"></ion-toggle>
      </ion-col>
    </ion-row>
</ion-grid>



</ion-content>
