<ion-content scroll="false">

  <ion-icon *ngIf="navCtrl.canGoBack()" round icon-start (click)="back()" name='arrow-dropleft-circle'class="steps left"></ion-icon>
  <ion-icon *ngIf="needValidation" round icon-start (click)="continue()" name='arrow-dropright-circle' class="steps right"></ion-icon>
  <h3 text-center>{{ 'AUX_TEXT_HAUT_STEP4' | translate }}</h3>


  <ion-grid style="width:70%;right:15%;position:absolute">
    <ion-row justify-content-center>
      <ion-col col-6 align-self-start>
          <button (click)="setvocalize('yes')" large ion-button>{{ 'AUX_STEP4_YES' | translate }}</button>
          <button (click)="setvocalize('no')" large ion-button>{{ 'AUX_STEP4_NO' | translate }}</button>
      </ion-col>
    </ion-row>
</ion-grid>



</ion-content>
