page-step4 {
  h3 {
    margin-top: 5%;
    font-size: 3.5rem;
  }
  .button-xlarge {
    font-size: 3rem;
    height: 5em;
    span {
      font-size: 2em;
    }
  }
  .grid { height: 80%;
    position: absolute;
    bottom: 0;
    font-size: 3.2em;
    left: 15%;
    width: 70%;
    text-align: center;
    .row {
      height: 27%;
    }
  }
}
