.human-responsive-a1 {
  .languagelevel-a2, .languagelevel-b1 {
    display: none;
  }
}

.human-responsive-a2 {
  .languagelevel-a1, .languagelevel-b1 {
    display: none;
  }
}

.human-responsive-b1 {
  .languagelevel-a2, .languagelevel-a1 {
    display: none;
  }
}
