<ion-content scroll="false">


  <ion-icon *ngIf="navCtrl.canGoBack()" round icon-start (click)="back()" name='arrow-dropleft-circle'class="steps left"></ion-icon>
  <ion-icon *ngIf="needValidation" round icon-start (click)="continue()" name='arrow-dropright-circle' class="steps right"></ion-icon>
  <h3 text-center>{{ 'AUX_TEXT_HAUT_STEP6' | translate }}</h3>

    <style>
      .small{font-size:medium}
      .medium{font-size:large}
      .large{font-size:x-large}
    </style>

    <ion-grid>
      <ion-row justify-content-center>
      <ion-col align-self-start>
        <button style="white-space: normal;min-height:150px;max-width:100%" (click)="setlanguagelevel('A1')" [color]="languagelevel=='A1' ? 'secondary' : 'default'" large ion-button class="button-xlarge">{{ 'AUX_STEP6_LANGLEVEL1' | translate }}</button><br>
        <button style="white-space: normal;min-height:150px;max-width:100%" (click)="setlanguagelevel('A2')" [color]="languagelevel=='A2' ? 'secondary' : 'default'" large ion-button class="button-xlarge">{{ 'AUX_STEP6_LANGLEVEL2' | translate }}</button><br>
        <button style="white-space: normal;min-height:150px;max-width:100%"  (click)="setlanguagelevel('B1')" [color]="languagelevel=='B1' ? 'secondary' : 'default'" large ion-button class="button-xlarge">{{ 'AUX_STEP6_LANGLEVEL3' | translate }}</button><br>
      </ion-col>
      </ion-row>
    </ion-grid>

</ion-content>
