<ion-content scroll="false">

  <ion-icon *ngIf="navCtrl.canGoBack()" round icon-start (click)="back()" name='arrow-dropleft-circle'class="steps left"></ion-icon>
  <ion-icon *ngIf="needValidation" round icon-start (click)="continue()" name='arrow-dropright-circle' class="steps right"></ion-icon>
  <h3 text-center>{{ 'AUX_TEXT_HAUT_STEP5' | translate }}</h3>

  <div style="width:70%;right:15%;position:absolute;">
    <style>
      .small{font-size:medium}
      .medium{font-size:large}
      .large{font-size:x-large}
    </style>

    <div text-center>
      <button (click)="setlanguagelevel('A1')" [color]="languagelevel=='A1' ? 'secondary' : 'default'" ion-button>{{ 'AUX_STEP5_LANGLEVEL1' | translate }}</button><br>
      <button (click)="setlanguagelevel('A2')" [color]="languagelevel=='A2' ? 'secondary' : 'default'" ion-button>{{ 'AUX_STEP5_LANGLEVEL2' | translate }}</button><br>
      <button (click)="setlanguagelevel('B1')" [color]="languagelevel=='B1' ? 'secondary' : 'default'" ion-button>{{ 'AUX_STEP5_LANGLEVEL3' | translate }}</button><br>
    </div>
  </div>


</ion-content>
