page-welcome {
  h2 {
    font-size: 3.5rem;
    margin-top: 5%;

  }

  .flagblock {
    border: 5px solid white;
    border-radius:5px;
  }
  .active {
    border: 5px solid #488AFF;
    border-radius:5px;
    background-color:white;
  }
  .grid { height: 80%;
    position: absolute;
    bottom: 0;
    font-size: 3.2em;
    left: 15%;
    width: 70%;
    text-align: center;
    .row {
      height: 50%;
    }
    .flag {
      height: auto;
    }
    .politicallyCorrect {
      position: relative;
      img {
        width: 75%;
        &.swiss {
          width: 32%;
          margin-bottom: 10px;
          bottom: 0;
          left: 34%;
          position: absolute;
        }
      }
    }
  }
}
