<ion-content scroll="false">
    <ion-icon *ngIf="navCtrl.canGoBack()" round icon-start (click)="back()" name='arrow-dropleft-circle'class="steps left"></ion-icon>
    <ion-icon *ngIf="needValidation" round icon-start (click)="continue()" name='arrow-dropright-circle' class="steps right"></ion-icon>

<!--
<div class="splash-bg"></div>
  <div class="splash-info">
    <div class="splash-logo"></div>
    <div class="splash-intro">
      {{ 'WELCOME_INTRO' | translate }}
    </div>
  </div>
-->
<style>
  .flag{height:40px;width:auto}
</style>

<h2 text-center style="width:80%;right:10%;position:absolute">{{ 'AUX_TEXT_HAUT_WELCOME' | translate }}</h2>
<ion-grid >
  <ion-row justify-content-center padding >
    <ion-col (click)="setlang('fr')" text-center [class.active]="langActive === 'fr'" class="flagblock politicallyCorrect">
        <img [src]="'assets/img_aux/fr.svg'" class="flag">
        <img [src]="'assets/img_aux/ch.svg'" class="flag swiss">
      </ion-col>
    <ion-col (click)="setlang('de')" text-center [class.active]="langActive === 'de'" class="flagblock politicallyCorrect">
      <img [src]="'assets/img_aux/de.svg'" class="flag">
      <img [src]="'assets/img_aux/ch.svg'" class="flag swiss">
    </ion-col>
    <ion-col (click)="setlang('it')" text-center [class.active]="langActive === 'it'" class="flagblock politicallyCorrect">
      <img [src]="'assets/img_aux/it.svg'" class="flag">
      <img [src]="'assets/img_aux/ch.svg'" class="flag swiss">
    </ion-col>
  </ion-row>
  <ion-row  text-center padding>
    <ion-col (click)="setlang('en')"  text-center   [class.active]="langActive === 'en'" class="flagblock">
      <img [src]="'assets/img_aux/uk.svg'" class="flag">
    </ion-col>
    <ion-col (click)="setlang('pt')" text-center [class.active]="langActive === 'pt'" class="flagblock">
      <img [src]="'assets/img_aux/pt.svg'" class="flag">
    </ion-col>
    <ion-col (click)="setlang('es')" text-center [class.active]="langActive === 'es'" class="flagblock">
      <img [src]="'assets/img_aux/es.svg'" class="flag">
    </ion-col>
  </ion-row>
  <ion-row >
    <ion-col text-center style="height: 30%">
      <h1 id="text_bas">{{text_bas}}</h1>
    </ion-col>
  </ion-row>
</ion-grid>

<!--
<div padding>
    <button ion-button block (click)="continue()">{{ 'TUTORIAL_CONTINUE_BUTTON' | translate }}</button>
  </div>
-->
</ion-content>
